# create a hackatime oauth app for these two:
HACKATIME_UID="123"
HACKATIME_SECRET="123"

# OPTIONAL, IF UNSET WILL USE PUBLIC CACHET API INSTEAD:
# create a slack bot at https://api.slack.com/apps,
# then go to its "OAuth & Permissions",
# and add the scopes "users:read" and "users.profile:read",
# then install it to hackclub at the top of the page,
# you will then get a token, which you will enter here:
SLACK_BOT_TOKEN=""