# pregenerated: 
/.bundle
/.env*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
/config/*.key

# include example .env file
!.env.example

# ignore min.js
app/assets/javascript/min.js

# ignore node_modules
node_modules