<div id="background"></div>
<div id="varyingContents">
    <img id="pfp" src="<%= session[:user_id]["pfp"] %>">
    <button onclick="newVoyage();" id="new-voyage">New Voyage</button>
    <div id="new-voyage-div">
        <h1>New Voyage</h1>
        <form>
            
        </form>
    </div>
</div>