<div id="background"></div>
<div id="varyingContents">
    <img id="pfp" src="<%= session[:user_id]["pfp"] %>">
    you are logged in! welcome user <%= session[:user_id]["name"] %>
</div>
<script type="module" src="min.js"></script>