#notice {
    position: absolute;
    top: 20px;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    background-color: green;
    padding: 10px;
}

#notice>button {
    margin-left: 10px;
}